<h1>My tasks</h1>
<ul class="list-unstyled">
  <% @tasks.each do |task| %>
    <li>
      <i class="fa-regular fa-square<%= "-check" if task.completed %>"></i>
      <%= link_to task.title, task_path(task) %> • <%= link_to '<i class="fa-solid fa-trash"></i>'.html_safe, task_path(task.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
    </li>
  <% end %>
</ul>

<i class="fa-solid fa-plus"></i> <%= link_to "Create a task", new_task_path %>
