<h1>My tasks</h1>
<ul class="list-unstyled">
  <% @tasks.each do |task| %>
    <li>
      <i class="fa-regular fa-square<%= "-check" if task.completed %>"></i>
      <%= link_to task.title, task_path(task) %>
    </li>
  <% end %>
</ul>

<i class="fa-solid fa-plus"></i> <%= link_to "Create a task", new_task_path %>
